<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0"
											sku=".NETFramework,Version=v4.5" />
	</startup>


	<!--
	No .NET 4.0 as UnobservedTaskExceptions são por padrão lançadas e
	derrubam a aplicação se não forem tratadas, já no .NET 4.5 elas são por padrão ignoradas.

	O detalhe é que se você tiver o .NET 4.5 instalado na máquina, essas exceções vão ser também ignoradas
	mesmo no .NET 4.0, a não ser que o valor abaixo seja definido como "true"
		--> 
	<runtime>
		<ThrowUnobservedTaskExceptions enabled="true" />
	</runtime>
</configuration>